<div class="about_component">
    <mat-card class="about_card" style="text-align: center; background-image: url('assets/images/forest.jpg');">

      <mat-card-header>
        <mat-card-title>{{'about.description' | translate}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h2>
          {{'about.objectivesText' | translate}}
        </h2><br/>

        <h3> 
            {{'about.obj1' | translate}}
        </h3><br/>
        <h3> 
            {{'about.obj2' | translate}}
        </h3><br/>
        <h3> 
            {{'about.obj3' | translate}}
        </h3><br/>
        <h3> 
            {{'about.obj4' | translate}}
        </h3><br/>
        <h3> 
            {{'about.obj5' | translate}}
        </h3><br/>

      </mat-card-content>
      </mat-card>

</div>
