<div class="home_component">
    <mat-card class="home-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
        <mat-card-header>
          <mat-card-title>{{ 'home.title' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{ 'home.description' | translate}}
          </p>
        </mat-card-content>
    
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goToContact()">{{ 'home.suggestions' | translate}}</button>
            
        </mat-card-actions>
      </mat-card>
</div>
