<div class="profile_component">
    <mat-card class="profile-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
        <mat-card-header>
            <div></div>
          <mat-card-title>{{this.personalName}}</mat-card-title>
          <mat-card-subtitle>{{'profile.occupation' | translate}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
        <img class="image" mat-card-image src="assets/images/poza.jpg" alt="Photo of my profile">
        <h3>
            {{'profile.domains' | translate}}:
          </h3><br/>
          <h4>
            {{'profile.imageProc' | translate}}
          </h4><br/>
          <h4>
            {{'profile.oop' | translate}}
          </h4><br/>
          <h4>
            {{'profile.mobileApps' | translate}}
          </h4><br/>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="goToContact()"> {{'profile.contact' | translate}} </button>
        </mat-card-actions>
      </mat-card>
</div>
